<DOCTYPE! html>
<html>
<head>

  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">

  <title>A collective fund by makers for makers - PHBacon</title>
  <meta name="description" content="PHBacon is a collectively maintained fund by makers for makers, allowing the community members to donate and withdraw funds to help support the creation of awesome things.">

  <!-- <link rel="stylesheet" type="text/css" src="../css/style.css"> -->

  // Provide jQuery framework
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<style>

body {
  color: #222;
  font-family: Calibri, Arial;
  font-size: 0;
  margin: 0;
  background-color: #F9F9F9;
}

.nav {
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  border-bottom: 0.5px solid lightgrey;
}

.nav div {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav .logo {
  width: 15%;
  font-size: 1.8rem;
  letter-spacing: 5px;
  font-weight: 600;
}

.nav .search {
  width: 45%;
  text-align: right;
}

.nav .search #search {
  width: 70%;
  margin-right: 1%;
  padding: 10px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  letter-spacing: 0.8px;
}

.nav .search #submit {
  padding: 12px;
  background-image: linear-gradient(to bottom right, #ff66c4, #4441ff);
  border: none;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.8px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#submit:hover {
  cursor: pointer;
  cursor: hand;
  opacity: 0.8;
}

.nav .buttons {
  width: 40%;
}

.nav .buttons ul {
  list-style: none;
}

.nav .buttons ul li {
  display: inline-block;
  padding: 0 5%;
  color: #333;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  font-size: 1rem;
  margin-left: 30px;
}

.nav .buttons ul a:hover li {
  color: #29CE9A
}

.txButton {
  padding: 10px 20px !important;
  background-image: linear-gradient(to bottom right, #ff66c4, #4441ff);
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 0.8px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.txButton:hover {
  cursor: pointer;
  cursor: hand;
  opacity: 0.8;
}

/* =====================================================
========== HOME ------- HOME -------- HOME ============= 
===================================================== */

.home {
  font-family: Arial;
  text-align: center;
  padding: 70px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ========== Left segment: Real-time fund data ========== 
===================================================== */

.left {
  width: 35%;
  display: inline-block;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 50px;
}

.left .dataBox .bit {
  font-size: 2.5rem;
  display: inline-block;
  width: 50%;
  padding: 15px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        color: #555;
}

.left .dataBox .bit p {
  margin: 0;
    display: inline-block;
}

.left .dataBox .bit span {
  font-size: 0.7rem;
}

.left .dataBox .bit .arrow {
  display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.left .dataBox .bit .arrow img {
  width: 50%;
}

.left .graph {
  margin-top: 30px;
  height: 230px;
  border: 0.5px solid lightgrey;
  background-color: #fff;
}

/* ========== Center segment: Vault ========== 
===================================================== */

.centerblock {
  width: 30%;
  text-align: center;
  display: inline-block;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  padding: 0 30px;
}

.centerblock h1 {
  font-size: 2rem;
      margin: 0;
    margin-bottom: 35px;
    font-weight: 300;
}

.centerblock .barChart .bar {
  height: 280px;
  width: 60%;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  margin: auto;
  position: relative;
}

.centerblock .barChart .bar .fill {
  width: 100.5%;
  height: 76%;
  background-image: linear-gradient(to bottom right, #ff66c4, #4441ff);
  position: absolute;
  bottom: 0;
  text-align: center;
}

.centerblock .value {
  color: #fff;
  position: relative;
  top: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 2.2rem;
}

.centerblock p {
  display: inline-block;
}

.centerblock .value span {
  font-size: 1.4rem;
}

/* ========== Right segment: Transaction logs ========== 
===================================================== */

.right {
  width: 35%;
  display: inline-block;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 50px;
  vertical-align: top;
}

.transaction {
  margin-bottom: 25px;
}

.transaction .arrow {
  width:8%;
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.transaction .arrow img {
  width: 100%;
}

.transaction .box {
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  width: 92%;
  display: inline-block;
  transition: 0.9s;
}

.transaction .box:hover {
  box-shadow: 3px 3px 15px 0 rgba(46,61,73,.2);
  transition: 0.3s;
  cursor: hand;
  cursor: pointer;
}

.transaction .image {
  display: inline-block;
  vertical-align: middle;
  width: 12%;
}

.transaction .image img {
  width: 100%;
  border-radius: 50%;
}

.transaction .makerInfo {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 72%;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  padding: 0 10px;
}

/* 
- ...
--------- Right segment continues...
- ...
*/ 

.transaction .makerInfo h5 {
  font-size: 0.8rem;
  font-weight: 300;
  color: #555;
  display: inline-block;
  margin: 0;
}

.transaction .makerInfo span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #888;
  display: inline-block;
  margin-left: 10px;
}

.transaction .makerInfo p {
  font-size: 0.7rem;
  font-weight: 300;
  color: #888;
  margin: 0;
  margin-top: 2px;
}

.transaction .value {
  display: inline-block;
  vertical-align: middle;
  width: 16%;
  font-size: 1.4rem;
}

.transaction .value p {
  margin: 0;
    display: inline-block;
}

.transaction .value span {
  font-size: 0.9rem;
}

.disclaimer {
  border: 0.5px solid red;
  background-color: #fff;
  font-size: 0.7rem;
  padding: 10px 20px;
  line-height: 20px;
  margin-top: 50px;
}

/* ===========================================
============== OVERLAY and MODAL =============
============================================*/

.overlay {
    position: absolute;
    width: 100%;
    padding: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    z-index: 999;
    display: none;
}

.overlay .modal {
    position: relative;
    width: 50%;
    border: 0.5px solid lightgrey;
    margin: auto;
    background-color: #fff;
    border-radius: 3px;
}

.overlay .modal .activeTx {
      background-image: linear-gradient(to bottom right, #ff66c4, #4441ff);
    color: #fff !important;
    box-shadow: 3px 3px 15px 0 rgba(46,61,73,.2) !important;
}

.overlay .modal .TxOption {
    width: 50%;
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    transition: 0.2s;
}

.overlay .modal .txOption:hover {
cursor: default;
}

.overlay .modal .TxOption:not(.activeTx):hover {
box-shadow: 3px 3px 15px 0 rgba(46,61,73,.2) !important;
cursor: pointer !important;
cursor: hand !important;
transition: 0.2s;
}


.window {
padding: 50px 70px;
}

.window form {
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.window form p {
      font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
    color: #555;
}

.window form .addressInput {
      padding: 10px 15px;
    width: 100%;
    font-size: 0.8rem;
    letter-spacing: 0.9;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.window form .valueInput {
      padding: 20px 40px;
    font-size: 1.8rem;
    letter-spacing: 0.9;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 65%;
    color: #555;
}

.window form .toUSD {
      font-size: 1.3rem;
    color: #999;
    vertical-align: middle;
    width: 35%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding-bottom: 30px;
    margin: 0;
}

.window .goButton {
      padding: 10px 20px !important;
    background-image: linear-gradient(to bottom right, #ff66c4, #4441ff);
    color: #fff !important;
    font-weight: 600;
    letter-spacing: 0.8px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    transition: 0.3s;
}

.window .goButton:hover {
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  cursor: hand;
}


</style>


<body>

<div class="overlay"><div class="modal">
    <div class="nav" style="padding: 0 !important;">
        <div class="TxOption activeTx">Deposit
        </div>
        <div class="TxOption">Withdraw
        </div>
    </div>
    <div class="depositWindow window"><form>
        <p>Your address</p>
        <input class="addressInput" type="text" value="0x348hbfd84rhdf84r34hhd93jnna6GAKJDg7jwdhD" disabled><p>Amount in ETH</p>
        <input class="valueInput" id="depositValue" type="number" value="0.28" step="0.01"><p class="toUSD">30.6543 USD</p>
    
    </form><div class="goButton" id="depositSubmit">
        Let's go! I want to deposit these funds.
    </div>
    
    
    
    </div>
</div>
</div>

<div class="container">
  <div class="nav">
    <a style="color: #222;" href="/"><div class="logo">
      <img src="https://courseroot.com/img/phbacon_logo_slim.png" />
    </div></a>
    <div class="buttons">
      <ul>
        <li id="depositButton" class="txButton">Deposit</li>
        <li id="withdrawButton" class="txButton">Withdraw</li>
        <a href="#"><li>Awesomeness</li></a>
      </ul>
    </div>
    <div class="search">
      <form>
        <input type="text" name="search" id="search" placeholder="0x356jd9...">
        <input type="submit" name="submit" value="Find" id="submit">
      </form>
    </div>
  </div>
  
  <div class="home">
    <div class="left">
      <div class="dataBox">
        <div class="row">
          <div class="bit">
            <div class="arrow"><img src="https://courseroot.com/img/caret-arrow-up.png"></div>6%
          </div>
          <div class="bit" style="font-size: 1.6rem;">
            <div class="arrow"><img src="https://courseroot.com/img/caret-arrow-up.png"></div>$<p id="valueUp">360</p>
          </div>
        </div>
        <div class="row">
          <div class="bit">
          <p id="depositCount">23</p><br><span style="color: #29EF7E;">donations</span>
          </div>
          <div class="bit">
          <p id="withdrawlCount">11</p><br><span style="color: #F0397A;">withdrawals</span>
          </div>
        </div>
      </div>
      <div class="graph">
      </div>
    </div>

    <div class="centerblock">
    <h1>Total fund</h1>
      <div class="barChart">
        <div class="bar"><div class="fill"><div class="value"><p id="fundBalance">32.3</p><br><span>ETH</span>
          </div></div></div>
      </div>
       <div class="disclaimer">
        It is very important that you <a href="#">read this</a> before using this decentralized application. Using this product means you have agreed to these terms.
      </div>
    </div>

    <div class="right">
      <div class="transaction" id="Tx0">
      <div class="arrow"><img src="https://courseroot.com/img/caret-arrow-up.png" /></div>
        <div class="box">
          <div class="image">
            <img src="https://images.unsplash.com/photo-1464820453369-31d2c0b651af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="makerInfo">
            <h5>Valentijn v/den Hout</h5><span> | </span><span>0x356jd9...</span>
            <p><i>Supporting makers building awesome things with PHBacon funds.</i></p>
          </div>
          <div class="value">
            <p>0.12</p><br><span>ETH</span>
          </div>
        </div>
      </div>

      <div class="transaction" id="Tx1">
      <div class="arrow"><img src="https://courseroot.com/img/sort-down.png" /></div>
        <div class="box">
          <div class="image">
            <img src="http://assets.menshealth.co.uk/main/thumbs/28811/ryan-reynolds-full-body-front-2006-quJqf9-mdn__square.jpg" />
          </div>
          <div class="makerInfo">
            <h5>Ryan Reynolds</h5><span> | </span><span>0x356jd9...</span>
            <p><i>Deadpool needs cash. I'd appreciate it if you wouldn't ask questions.</i></p>
          </div>
          <div class="value">
            <p>0.09</p><br><span>ETH</span>
          </div>
        </div>
      </div>

      <div class="transaction" id="Tx2">
      <div class="arrow"><img src="https://courseroot.com/img/sort-down.png" /></div>
        <div class="box">
          <div class="image">
            <img src="https://pbs.twimg.com/profile_images/977496875887558661/L86xyLF4_400x400.jpg" />
          </div>
          <div class="makerInfo">
            <h5>Vitalik Nakamoto</h5><span> | </span><span>0x356jd9...</span>
            <p><i>Building Bitethereum, a weird Bitcoin and Ethereum morphed blockchain.</i></p>
          </div>
          <div class="value">
            <p>0.03</p><br><span>ETH</span>
          </div>
        </div>
      </div>

      <div class="transaction" id="Tx3">
      <div class="arrow"><img src="https://courseroot.com/img/caret-arrow-up.png" /></div>
        <div class="box">
          <div class="image">
            <img src="https://frostsnow.com//uploads/biography/2017/01/24/bear-grylls.jpg" />
          </div>
          <div class="makerInfo">
            <h5>Bear Grylls</h5><span> | </span><span>0x356jd9...</span>
            <p><i>I don't need this cash for now. Will be living inside a cammel for a short time.</i></p>
          </div>
          <div class="value">
            <p>0.22</p><br><span>ETH</span>
          </div>
        </div>
      </div>

      <div class="transaction" id="Tx4">
      <div class="arrow"><img src="https://courseroot.com/img/caret-arrow-up.png" /></div>
        <div class="box">
          <div class="image">
            <img src="https://pbs.twimg.com/profile_images/1866433586/AskKPika_400x400.jpg" />
          </div>
          <div class="makerInfo">
            <h5>Ash Ketchum 'Kanto'</h5><span> | </span><span>0x356jd9...</span>
            <p><i>Supporting my fellow Pokemon masters in their quest of cathing 'em all.</i></p>
          </div>
          <div class="value">
            <p>0.13</p><br><span>ETH</span>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>

</div>

</body>


<!-- Provide Web3 framework '-->
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

<script>

// Connect to Ethereum Network/Blockchain
if (typeof web3 !== 'undefined') {
  web3 = new Web3(web3.currentProvider);
  console.log('We already have a provider.');
} else {
  web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545")); 
  console.log('We have set a new provider on Ganache chain at localhost:8454');
}

// Set the default account
web3.eth.defaultAccount = web3.eth.accounts[0];
console.log('Default account: ' + web3.eth.defaultAccount);

// Provide the ABI to interact with the smart contract
const PHBaconContract = web3.eth.contract([
  {
    "constant": false,
    "inputs": [
      {
        "name": "_bool",
        "type": "bool"
      }
    ],
    "name": "pause",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_value",
        "type": "uint256"
      }
    ],
    "name": "withdraw",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_makerAddress",
        "type": "address"
      }
    ],
    "name": "verify",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_address",
        "type": "address"
      }
    ],
    "name": "getMaker",
    "outputs": [
      {
        "name": "",
        "type": "string"
      },
      {
        "name": "",
        "type": "uint256"
      },
      {
        "name": "",
        "type": "bool"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "",
        "type": "address"
      }
    ],
    "name": "addressToMaker",
    "outputs": [
      {
        "name": "contributionBalance",
        "type": "uint256"
      },
      {
        "name": "PHusername",
        "type": "string"
      },
      {
        "name": "verified",
        "type": "bool"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "deposit",
    "outputs": [],
    "payable": true,
    "stateMutability": "payable",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [],
    "name": "getFundBalance",
    "outputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "constructor"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "name": "_type",
        "type": "bytes32"
      },
      {
        "indexed": true,
        "name": "_value",
        "type": "uint256"
      },
      {
        "indexed": true,
        "name": "_maker",
        "type": "address"
      }
    ],
    "name": "Transaction",
    "type": "event"
  }
]);

// Connect to the smart contract by providing its ethereum address
const PHBacon = PHBaconContract.at('0xB4b16556cE2965E5DdeA22DeA095B726d67f07b0');

/* ============================================================================================================================
=========== Starting actual functionality =====================================================================================
============================================================================================================================ */


// Get fund balance and convert to ETH with 3 decimals
const getFunds = () => { PHBacon.getFundBalance(function(error, result) {
  if (error) {
    return error;
  } else {
    $('#fundBalance').text(Math.round((result/1000000000000000000)*10000)/10000);
  }
})};


// // Get all events for the Tx dashboard
// const getEvents = () => { PHBacon.depositTx({}, { fromBlock: 0, toBlock: 'latest' }).get((error, result) => {
//   if (error) { 
//     return error;
//   }
//     else {
//       console.log(result.length);
//     }
// });
// }

// Get deposit data and import
const collectTx = () => { PHBacon.Transaction({}, { fromBlock: 0, toBlock: 'latest' }).get((error, result) => {
  if (error) {
    return error;
  } else {
      // Set a value variable that will track the value change of the fund
      let valueCount = 0;
      let depositCounter = 0;
      let withdrawlCounter = 0;
      for(let i=0; i < result.length; i++) {
        // If _type is deposit (bytes32)
        if (result[result.length-(1+i)].args._type == '0x6465706f73697400000000000000000000000000000000000000000000000000') {
          // Increment depositCounter
          depositCounter += 1;
          // Increase value
          valueCount += Number(result[result.length-(1+i)].args._value);
          // Set transaction box 
          let address = result[result.length-(1+i)].args._maker.substring(0,7) + '...';
          let value = Math.round((result[result.length-(1+i)].args._value/1000000000000000000)*1000)/1000;
          $(`#tx${i} .makerInfo span:nth-of-type(2)`).text(address);
          $(`#tx${i} .value p`).text(value);
          $(`#tx${i} .arrow img`).attr("src","https://courseroot.com/img/caret-arrow-up.png");
        } // If _type is withdrawl (btes32)
        else if (result[result.length-(1+i)].args._type == '0x77697468647261776c0000000000000000000000000000000000000000000000') {
          // Increment depositCounter
          withdrawlCounter += 1;
          console.log(withdrawlCounter);
          // Decrease value
          valueCount -= Number(result[result.length-(1+i)].args._value);
          // Set transaction box 
          let address = result[result.length-(1+i)].args._maker.substring(0,7) + '...';
          let value = Math.round((result[result.length-(1+i)].args._value/1000000000000000000)*1000)/1000;
          $(`#tx${i} .makerInfo span:nth-of-type(2)`).text(address);
          $(`#tx${i} .value p`).text(value);
          $(`#tx${i} .arrow img`).attr("src","https://courseroot.com/img/sort-down.png");
        } else {
          return "When collecting transaction events, we found events that did not match a deposit nor a withdrawl _type."
        }
      }
      $('#depositCount').text(depositCounter);
      $('#withdrawlCount').text(withdrawlCounter);
      $('#valueUp').text(Math.round(((valueCount/1000000000000000000)*107)*100)/100);
  }
})};

// Set fund balance
getFunds();

// getEvents();

// Get latest depositTx and update content
collectTx();


// Update fundBalance every 60 seconds
setInterval(function() {
    getFunds()
}, 30 * 1000); 

// Watching for depositTx event and updating page content
PHBacon.Transaction().watch(function(error, result) {
  if(!error) {
    // WE NEED TO MODULARIZE THIS!
    getFunds();
    collectTx();
  } else {
    console.log(error);
  }
})


// ============= Overlay Functionality ================

$('#depositButton').click(function() {
  $('.overlay').css('display', 'block');
})

$('#withdrawButton').click(function() {
  // Open withdraw window
})

// Hiding modal when clicking outside of it
$(document).mouseup(function(e) {
  let container = $(".modal");
  if(!container.is(e.target) && container.has(e.target).length === 0 && container.is(":visible")) {
    $('.overlay').hide();
  }
})


// ===================== Tx Functionality form modal ======================

$('#depositSubmit').click(function() {
  // Set the default account
  let defaultAcc = web3.eth.accounts[0];
  let depValue = $('#depositValue').val();
  let valueWei = web3.toWei(depValue, "ether");
  PHBacon.deposit({from: defaultAcc, value: valueWei}, function(error, result) {
    if (error) {
      console.log(error);
    } else {
      $('.overlay').hide();
      alert(`Succesfully deposited ${depValue} to the PHBacon fund! You are awesome for supporting your fellow makers! Note that, given we are using the Ethereum blockchain, it might take a few minutes for the funds to show.`);
    }
  })
})

</script>

</html>